name: Reusable Kafka Tests

on:
  workflow_dispatch:
    inputs:
      repository_name:
        description: 'Kafka repository name'
        required: false
        type: string
        default: 'Netcracker/qubership-kafka'
      service_branch:
        required: false
        type: string
        default: 'main'
      versions_file:
        description: 'Path to versions list file'
        type: string
        required: true
        default: '.github/versions.yaml'
      pipeline_branch:
        description: 'Test pipeline branch name'
        type: string
        required: true
        default: 'main'
      runner_type:
        description: 'Runner type (self-hosted or ubuntu-latest)'
        type: string
        required: false
        default: 'ubuntu-latest'

  workflow_call:
    inputs:
      repository_name:
        description: 'Kafka repository name'
        required: false
        type: string
        default: 'Netcracker/qubership-kafka'
      service_branch:
        required: false
        type: string
      versions_file:
        description: 'Path to versions list file'
        type: string
        required: true
      pipeline_branch:
        description: 'Test pipeline branch name'
        type: string
        required: true
      runner_type:
        description: 'Runner type (self-hosted or ubuntu-latest)'
        type: string
        required: false
        default: 'ubuntu-latest'
    secrets:
      AWS_S3_ACCESS_KEY_ID:
        required: true
      AWS_S3_ACCESS_KEY_SECRET:
        required: true

jobs:
  prepare:
    runs-on: ${{ inputs.runner_type }}
    outputs:
      versions: ${{ steps.process-versions.outputs.versions }}
      previous_version: ${{ steps.process-versions.outputs.previous_version }}
      matrix: ${{ steps.process-versions.outputs.matrix }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: '${{ inputs.service_branch }}'
          repository: '${{ inputs.repository_name }}'
          path: 'qubership-kafka'
      - name: Checkout pipeline
        uses: actions/checkout@v4
        with:
          ref: '${{ inputs.pipeline_branch }}'
          repository: '${{ github.repository_owner }}/qubership-test-pipelines'
          path: 'qubership-test-pipelines'
      - name: Process versions file
        id: process-versions
        # language=bash
        run: |
          versions_str=$(cat qubership-kafka/${{ inputs.versions_file }})
          versions_json=$(echo $versions_str | jq -R -s -c 'split(" ")')
          echo "versions=$versions_json" >> $GITHUB_OUTPUT
          previous_version=$(echo "$versions_json" | jq -r '.[-1]')
          echo "previous_version=$previous_version" >> $GITHUB_OUTPUT
          export service_branch="${{ inputs.service_branch }}"
          matrix=$(yq -o=json "." ./qubership-test-pipelines/workflow-config/kafka.yaml | envsubst | jq -c '.jobs')
          echo "matrix=${matrix}" >> $GITHUB_OUTPUT

  matrix-tests:
    runs-on: ${{ inputs.runner_type }}
    needs: prepare
    strategy:
      fail-fast: false
      matrix:
        tests: ${{ fromJson(needs.prepare.outputs.matrix) }}
    name: ${{ matrix.tests.name }}
    env:
      kfk_namespace: kafka
      kfk_max_attempts: 60
      kfk_timeout: '10s'
      kfk_max_attempts_for_provisioner: 100
      kfk_timeout_for_provisioner: '10s'
      kfk_cr_kind: 'Kafka'
      kfk_cr_name: 'kafka'
      kfk_srvc_namespace: kafka
      kfk_srvc_max_attempts: 60
      kfk_srvc_timeout: '10s'
      kfk_srvc_max_attempts_for_provisioner: 100
      kfk_srvc_timeout_for_provisioner: '10s'
      kfk_srvc_cr_kind: 'KafkaService'
      kfk_srvc_cr_name: 'kafka'
    steps:
      # == 01 Start ======= Common pre-steps for all tests =======
      - name: Checkout pipeline
        uses: actions/checkout@v4
        with:
          ref: '${{ inputs.pipeline_branch }}'
          repository: '${{ github.repository_owner }}/qubership-test-pipelines'
          path: 'qubership-test-pipelines'
      - name: Create cluster
        uses: ./qubership-test-pipelines/actions/shared/create_cluster
      # == 01 End ======= Common pre-steps for all tests =======

      # == Start TLS certs addition if needed =======
      - name: TLS setup
        # language=bash
        if: matrix.tests.zookeeper == true && matrix.tests.tls == true
        run: |
          echo "::group::Install cert-manager"
          helm repo add jetstack https://charts.jetstack.io --force-update
          helm upgrade --install cert-manager jetstack/cert-manager --namespace cert-manager \
            --create-namespace --version v1.16.3 --set prometheus.enabled=true   --set crds.enabled=true
          echo "::endgroup::"
          echo "::group::Create cert-manager entities"
          kubectl apply -f qubership-test-pipelines/resources/test-issuer.yaml
          sleep 10s
          kubectl apply -f qubership-test-pipelines/resources/test-certificate.yaml
          sleep 10s
          kubectl apply -f qubership-test-pipelines/resources/test-clusterissuer.yaml
          echo "::endgroup::"
          echo "::group::Get cert-manager resources"
          kubectl get pods -n cert-manager
          kubectl get secrets -n cert-manager
          kubectl get certificates -A
          echo "::endgroup::"
          echo "::group:: Get clusterissuer"
          kubectl get clusterissuer
          kubectl get clusterissuer test-clusterissuer -o yaml
          echo "::endgroup::"
      # == End TLS certs addition if needed =======

      # == Start zookeeper installation tests =======
      - name: Clean Install Zookeeper [LATEST]
        if: matrix.tests.zookeeper == true
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: ${{ matrix.tests.zookeeper_template }}
          service_branch: 'main'
          service_name: 'zookeeper-service'
          repository_name: 'Netcracker/qubership-zookeeper'
          path_to_chart: 'operator/charts/helm/zookeeper-service'
          namespace: 'zookeeper'
      - name: Verify Zookeeper installation
        if: matrix.tests.zookeeper == true
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          namespace: zookeeper
          max_attempts: 60
          timeout: '10s'
          max_attempts_for_provisioner: 150
          timeout_for_provisioner: '10s'
          cr_kind: 'ZooKeeperService'
          cr_name: 'zookeeper'
          artifact_name: ${{ matrix.tests.artifact_name }}_ZK_install
      # == End zookeeper installation tests =======

      # == Start update YAML secrets if needed =======
      - name: Update YAML secrets
        if: matrix.tests.zookeeper == true && matrix.tests.storage == 's3'
        # language=bash
        run: |
          python qubership-test-pipelines/python/update_yaml.py \
            --file='qubership-test-pipelines/${{ matrix.tests.kafka_template }}' \
            --path='global/secrets/backupDaemon/s3/keyId' \
            --value='${{secrets.AWS_S3_ACCESS_KEY_ID}}' \
          && python qubership-test-pipelines/python/update_yaml.py \
            --file='qubership-test-pipelines/${{ matrix.tests.kafka_service_template }}' \
            --path='global/secrets/backupDaemon/s3/keySecret' \
            --value='${{secrets.AWS_S3_ACCESS_KEY_SECRET}}'
      # == End update YAML secrets if needed =======

      # == Start kafka installation tests =======
      - name: Clean Install Kafka [${{ matrix.tests.kafka_install_version }}]
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: ${{ matrix.tests.kafka_template }}
          service_branch: '${{ matrix.tests.kafka_install_version }}'
          service_name: 'kafka'
          repository_name: ${{ inputs.repository_name }}
          path_to_chart: 'operator/charts/helm/kafka'
          namespace: ${{ env.kfk_namespace }}
      - name: Verify Kafka installation
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          namespace: ${{ env.kfk_namespace }}
          max_attempts: ${{ env.kfk_max_attempts }}
          timeout: ${{ env.kfk_timeout }}
          max_attempts_for_provisioner: ${{ env.kfk_max_attempts_for_provisioner }}
          timeout_for_provisioner: ${{ env.kfk_timeout_for_provisioner }}
          cr_kind: ${{ env.kfk_cr_kind }}
          cr_name: ${{ env.kfk_cr_name }}
          artifact_name: ${{ matrix.tests.artifact_name }}_Kafka_install
      # == End kafka installation tests =======

      - name: Get Kafka secrets
        if: matrix.tests.zookeeper == true && matrix.tests.tls == true
        run: |
          kubectl get secrets -n kafka
          kubectl get secret kafka-tls-secret -n kafka -o yaml

      # == Start kafka service installation tests =======
      - name: Clean Install Kafka Service [${{ matrix.tests.kafka_install_version }}]
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: ${{ matrix.tests.kafka_service_template }}
          service_branch: '${{ matrix.tests.kafka_install_version }}'
          service_name: 'kafka-service'
          repository_name: ${{ inputs.repository_name }}
          path_to_chart: 'operator/charts/helm/kafka-service'
          namespace: ${{ env.kfk_srvc_namespace }}
      - name: Verify Kafka Service installation
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          namespace: ${{ env.kfk_srvc_namespace }}
          max_attempts: ${{ env.kfk_srvc_max_attempts }}
          timeout: ${{ env.kfk_srvc_timeout }}
          max_attempts_for_provisioner: ${{ env.kfk_srvc_max_attempts_for_provisioner }}
          timeout_for_provisioner: ${{ env.kfk_srvc_timeout_for_provisioner }}
          cr_kind: ${{ env.kfk_srvc_cr_kind }}
          cr_name: ${{ env.kfk_srvc_cr_name }}
          artifact_name: ${{ matrix.tests.artifact_name }}_Kafka_Service_install
      # == End kafka service installation tests =======

      # == Start kafka upgrade tests =======
      - name: Update Kafka to [${{ matrix.tests.kafka_upgrade_version }} ] Version With Diff Params
        if: matrix.tests.sequence == 'upgrade'
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: ${{ matrix.tests.kafka_upgrade_template }}
          service_branch: '${{ matrix.tests.kafka_upgrade_version }}'
          service_name: 'kafka'
          repository_name: ${{ inputs.repository_name }}
          path_to_chart: 'operator/charts/helm/kafka'
          namespace: ${{ env.kfk_namespace }}
          deploy_mode: upgrade
      - name: Sleep 1m after upgrade
        if: matrix.tests.sequence == 'upgrade'
        run: sleep 1m
      - name: Verify Kafka upgrade
        if: matrix.tests.sequence == 'upgrade'
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          namespace: ${{ env.kfk_namespace }}
          max_attempts: ${{ env.kfk_max_attempts }}
          timeout: ${{ env.kfk_timeout }}
          max_attempts_for_provisioner: ${{ env.kfk_max_attempts_for_provisioner }}
          timeout_for_provisioner: ${{ env.kfk_timeout_for_provisioner }}
          cr_kind: ${{ env.kfk_cr_kind }}
          cr_name: ${{ env.kfk_cr_name }}
          artifact_name: ${{ matrix.tests.artifact_name }}_Kafka_upgrade
      - name: Update Kafka Service to [LATEST] Version With Diff Params
        if: matrix.tests.sequence == 'upgrade'
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: 'templates/kafka-service/kafka_upgrade_kraft_mode.yml'
          service_branch: '${{ inputs.service_branch }}'
          service_name: 'kafka-service'
          repository_name: ${{ inputs.repository_name }}
          path_to_chart: 'operator/charts/helm/kafka-service'
          namespace: ${{ env.kfk_srvc_namespace }}
          deploy_mode: upgrade
      - name: Sleep 1m after upgrade
        if: matrix.tests.sequence == 'upgrade'
        run: sleep 1m
      - name: Verify Kafka Service upgrade
        if: matrix.tests.sequence == 'upgrade'
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          namespace: ${{ env.kfk_srvc_namespace }}
          max_attempts: ${{ env.kfk_srvc_max_attempts }}
          timeout: ${{ env.kfk_srvc_timeout }}
          max_attempts_for_provisioner: ${{ env.kfk_srvc_max_attempts_for_provisioner }}
          timeout_for_provisioner: ${{ env.kfk_srvc_timeout_for_provisioner }}
          cr_kind: ${{ env.kfk_srvc_cr_kind }}
          cr_name: ${{ env.kfk_srvc_cr_name }}
          artifact_name: ${{ matrix.tests.artifact_name }}_Kafka_Service_upgrade
      # == End kafka upgrade tests =======

  #---------- Upgrade from old releases ----------
  #Clean [N1_RELEASE], Upgrade From [N1_RELEASE] To [LATEST_SPRINT]
  #Clean [N2_RELEASE], Upgrade From [N2_RELEASE] To [LATEST_SPRINT]
  Clean-Previous-Upgrade-To-Latest:
    name: Clean [${{ needs.prepare.outputs.previous_version }}], Upgrade to [${{ matrix.release }}]
    needs: prepare
    runs-on: ${{inputs.runner_type}}
    strategy:
      fail-fast: false
      matrix:
        release: ${{ fromJson(needs.prepare.outputs.versions) }}
        exclude:
         - release: ${{ needs.prepare.outputs.previous_version }}
    env:
      kfk_namespace: kafka
      kfk_max_attempts: 60
      kfk_timeout: '10s'
      kfk_max_attempts_for_provisioner: 100
      kfk_timeout_for_provisioner: '10s'
      kfk_cr_kind: 'Kafka'
      kfk_cr_name: 'kafka'
      kfk_srvc_namespace: kafka
      kfk_srvc_max_attempts: 60
      kfk_srvc_timeout: '10s'
      kfk_srvc_max_attempts_for_provisioner: 150
      kfk_srvc_timeout_for_provisioner: '10s'
      kfk_srvc_cr_kind: 'KafkaService'
      kfk_srvc_cr_name: 'kafka'
    steps:
      - name: Checkout pipeline
        uses: actions/checkout@v4
        with:
          ref: '${{inputs.pipeline_branch}}'
          repository: 'Netcracker/qubership-test-pipelines'
          path: 'qubership-test-pipelines'
      - name: Create cluster
        uses: ./qubership-test-pipelines/actions/shared/create_cluster
      #- name: Install monitoring
        #uses: ./qubership-test-pipelines/actions/monitoring/helm_deploy_monitoring
      - name: Clean Install Zookeeper [LATEST]
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: 'templates/zookeeper-service/zookeeper_install_APP_k8s.yml'
          service_branch: 'main'
          service_name: 'zookeeper-service'
          repository_name: 'Netcracker/qubership-zookeeper'
          path_to_chart: 'operator/charts/helm/zookeeper-service'
          namespace: 'zookeeper'
      - name: Verify Zookeeper installation
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          namespace: zookeeper
          max_attempts: 60
          timeout: '10s'
          max_attempts_for_provisioner: 150
          timeout_for_provisioner: '10s'
          cr_kind: 'ZooKeeperService'
          cr_name: 'zookeeper'
      - name: Clean Install Kafka [PREVIOUS]
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: 'templates/kafka-service/kafka_clean_sc_zoo.yml'
          service_branch: '${{matrix.release}}'
          service_name: 'kafka'
          repository_name: ${{ inputs.repository_name }}
          path_to_chart: 'operator/charts/helm/kafka'
          namespace: ${{ env.kfk_namespace }}
      - name: Verify Kafka installation
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          service_branch: '${{matrix.release}}'
          namespace: ${{ env.kfk_namespace }}
          max_attempts: ${{ env.kfk_max_attempts }}
          timeout: ${{ env.kfk_timeout }}
          max_attempts_for_provisioner: ${{ env.kfk_max_attempts_for_provisioner }}
          timeout_for_provisioner: ${{ env.kfk_timeout_for_provisioner }}
          cr_kind: ${{ env.kfk_cr_kind }}
          cr_name: ${{ env.kfk_cr_name }}
      - name: Clean Install Kafka Service [PREVIOUS]
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: 'templates/kafka-service/kafka_clean_sc_zoo.yml'
          service_branch: '${{matrix.release}}'
          service_name: 'kafka-service'
          repository_name: ${{ inputs.repository_name }}
          path_to_chart: 'operator/charts/helm/kafka-service'
          namespace: ${{ env.kfk_srvc_namespace }}
      - name: Verify Kafka Service installation
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          service_branch: '${{matrix.release}}'
          namespace: ${{ env.kfk_srvc_namespace }}
          max_attempts: ${{ env.kfk_srvc_max_attempts }}
          timeout: ${{ env.kfk_srvc_timeout }}
          max_attempts_for_provisioner: ${{ env.kfk_srvc_max_attempts_for_provisioner }}
          timeout_for_provisioner: ${{ env.kfk_srvc_timeout_for_provisioner }}
          cr_kind: ${{ env.kfk_srvc_cr_kind }}
          cr_name: ${{ env.kfk_srvc_cr_name }}
      - name: Upgrade Kafka to [LATEST]
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          deploy_mode: upgrade
          path_to_template: 'templates/kafka-service/kafka_clean_sc_zoo.yml'
          service_branch: '${{inputs.service_branch}}'
          service_name: 'kafka'
          repository_name: ${{ inputs.repository_name }}
          path_to_chart: 'operator/charts/helm/kafka'
          namespace: ${{ env.kfk_namespace }}
      - name: Sleep 1m after upgrade
        run: sleep 1m
      - name: Verify Kafka installation
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          service_branch: '${{inputs.service_branch}}'
          namespace: ${{ env.kfk_namespace }}
          max_attempts: ${{ env.kfk_max_attempts }}
          timeout: ${{ env.kfk_timeout }}
          max_attempts_for_provisioner: ${{ env.kfk_max_attempts_for_provisioner }}
          timeout_for_provisioner: ${{ env.kfk_timeout_for_provisioner }}
          cr_kind: ${{ env.kfk_cr_kind }}
          cr_name: ${{ env.kfk_cr_name }}
      - name: Upgrade Kafka Service to [LATEST]
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          deploy_mode: upgrade
          path_to_template: 'templates/kafka-service/kafka_clean_sc_zoo.yml'
          service_branch: '${{inputs.service_branch}}'
          service_name: 'kafka-service'
          repository_name: ${{ inputs.repository_name }}
          path_to_chart: 'operator/charts/helm/kafka-service'
          namespace: ${{ env.kfk_srvc_namespace }}
      - name: Sleep 1m after upgrade
        run: sleep 1m
      - name: Verify Kafka Service installation
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          service_branch: '${{inputs.service_branch}}'
          namespace: ${{ env.kfk_srvc_namespace }}
          max_attempts: ${{ env.kfk_srvc_max_attempts }}
          timeout: ${{ env.kfk_srvc_timeout }}
          max_attempts_for_provisioner: ${{ env.kfk_srvc_max_attempts_for_provisioner }}
          timeout_for_provisioner: ${{ env.kfk_srvc_timeout_for_provisioner }}
          cr_kind: ${{ env.kfk_srvc_cr_kind }}
          cr_name: ${{ env.kfk_srvc_cr_name }}
